$color_white: #fff;
$color_black: #000;

$color_dark-blue: #0026f1;
$color_light-blue: #00adef;
$color_blue-2: #005d81;
$color_green: #00f35b;
$color_dark-green: #009538;

$font_roboto-slab: 'Roboto Slab', serif;
$font_roboto: 'Roboto', serif;