body {
  font-family: "Roboto", serif; }

h1,
h2,
h3,
h4,
h5,
h6,
.site-title {
  font-family: "Roboto Slab", serif; }

p {
  line-height: 1.8; }

body.page:not(.twentyseventeen-front-page) .entry-header .entry-title {
  font-size: 1.8rem;
  text-align: center; }

.site-header .site-branding-text {
  text-align: center; }
  .site-header .site-branding-text .site-title {
    display: block;
    margin-bottom: 1rem; }
  .site-header .site-branding-text .site-title a,
  .site-header .site-branding-text .site-description {
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: inline-block;
    opacity: 1;
    padding: 0.2rem 1rem; }

body:not(.title-tagline-hidden) .site-header .site-branding-text {
  display: block; }

.site-footer li:first-child a {
  background: #3b5998; }

.site-footer li:last-child a {
  background: #1da1f2; }

form input[type="submit"] {
  background: #00adef; }
  form input[type="submit"]:active, form input[type="submit"]:hover {
    background: #005d81; }

.page.page-one-column.page-slug-home .entry-header {
  display: none; }

.page-slug-sponsors .wcorg-sponsor-level-platinum,
.page-slug-sponsors .wcorg-sponsor-level-gold,
.page-slug-sponsors .wcorg-sponsor-level-silver,
.page-slug-sponsors .wcorg-sponsor-level-bronze,
.page-slug-sponsors .wcorg-sponsor-level-micro {
  border-bottom: 0.2rem solid #000;
  margin-bottom: 3rem;
  padding-bottom: 2rem; }
  .page-slug-sponsors .wcorg-sponsor-level-platinum h2,
  .page-slug-sponsors .wcorg-sponsor-level-gold h2,
  .page-slug-sponsors .wcorg-sponsor-level-silver h2,
  .page-slug-sponsors .wcorg-sponsor-level-bronze h2,
  .page-slug-sponsors .wcorg-sponsor-level-micro h2 {
    font-size: 3rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1); }
  .page-slug-sponsors .wcorg-sponsor-level-platinum h3,
  .page-slug-sponsors .wcorg-sponsor-level-gold h3,
  .page-slug-sponsors .wcorg-sponsor-level-silver h3,
  .page-slug-sponsors .wcorg-sponsor-level-bronze h3,
  .page-slug-sponsors .wcorg-sponsor-level-micro h3 {
    font-size: 2rem; }
  .page-slug-sponsors .wcorg-sponsor-level-platinum .wcorg-sponsor-description img,
  .page-slug-sponsors .wcorg-sponsor-level-gold .wcorg-sponsor-description img,
  .page-slug-sponsors .wcorg-sponsor-level-silver .wcorg-sponsor-description img,
  .page-slug-sponsors .wcorg-sponsor-level-bronze .wcorg-sponsor-description img,
  .page-slug-sponsors .wcorg-sponsor-level-micro .wcorg-sponsor-description img {
    max-width: 300px; }

.page-slug-sponsors .wcorg-sponsor-level-platinum {
  margin-top: 4rem; }

.page-id-13.page.page-one-column .entry-header {
  margin-bottom: 0; }

.page-id-13 #tix #tix-coupon-input {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem; }

.page-id-13 #tix .tix-right > input,
.page-id-13 #tix .tix-right > textarea {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  width: 100%; }

.page-id-13 #tix .tix-right > textarea {
  min-height: 12rem; }

.page-id-13 #tix .tix-left {
  vertical-align: middle; }

.page-id-13 #tix .tix-row-question-453 .tix-right label:first-child {
  margin-top: 0.5rem; }

.page-id-13 #tix .tix-row-question-453 .tix-right br:last-child {
  display: none; }

.page-id-13 #tix .tix-submit select {
  margin-right: 1rem;
  min-width: 8rem; }

.page-id-7 .wcpt-session-speakers {
  display: block;
  font-weight: 700; }

.page-id-7 .wcpt-session-title,
.page-id-7 .wcpt-session-title:hover {
  border-bottom: 1px dashed #000;
  -webkit-box-shadow: none;
          box-shadow: none;
  text-decoration: none !important; }

.page-id-7 .lunch {
  background: #D3E4EB; }

.single-wcb_speaker .speaker-avatar {
  margin-bottom: 1rem; }
  .single-wcb_speaker .speaker-avatar img {
    width: 120px; }

.page-id-8 .wcorg-speaker {
  border-bottom: 1px dashed #000;
  margin-bottom: 2rem;
  padding-bottom: 2rem; }
  .page-id-8 .wcorg-speaker:last-child {
    border-bottom: none; }

.page-id-9 .wcorg-session {
  margin-bottom: 4rem; }
