.page-id-7 {

	.wcpt-session-speakers {
		display: block;
		font-weight: 700;
	}

	.wcpt-session-title,
	.wcpt-session-title:hover {
		border-bottom: 1px dashed #000;
		box-shadow: none;
		text-decoration: none !important;
	}

	.lunch {
		background: #D3E4EB;
	}
}