.page-id-13 {

	&.page.page-one-column .entry-header {
		margin-bottom: 0;
	}

	#tix {

		#tix-coupon-input {
			margin-bottom: 0.5rem;
			margin-top: 0.5rem;
		}

		.tix-right {

			> input,
			> textarea {
				margin-bottom: 0.5rem;
				margin-top: 0.5rem;
				width: 100%;
			}

			> textarea {
				min-height: 12rem;
			}
		}

		.tix-left {
			vertical-align: middle;
		}

		.tix-row-question-453 {

			.tix-right {

				label:first-child {
					margin-top: 0.5rem;
				}

				br:last-child {
					display: none;
				}
			}
		}

		.tix-submit {

			select {
				margin-right: 1rem;
				min-width: 8rem;
			}
		}
	}
}