.site-header {
	min-height: 600px;

	.custom-header {
		min-height: 600px;
	}

	.site-branding {
		bottom: 0;
		left: 0;
		padding-top: 0;
		position: absolute;
	}

	.site-branding-text {
		text-align: center;

		.site-title {
			visibility: hidden;
		}

		.site-description {
			background: rgba(0,0,0,0.6);
			border: 1px solid #7d7d7d;
			color: $color_white;
			display: inline-block;
			font-size: 3rem;
			opacity: 1;
			padding: 0.2rem 1rem;
		}
	}
}

body:not(.title-tagline-hidden) .site-header .site-branding-text {
	display: block;
}

.has-header-image .custom-header-media img, .has-header-video .custom-header-media video, .has-header-video .custom-header-media iframe, .has-header-image:not(.twentyseventeen-front-page):not(.home) .custom-header-media img {
	height: 66% !important;
	object-fit: fill !important;
	width: 100%;
	max-height: 100% !important;
	display: block !important;
	position: relative !important;
}