.site-header {

	.site-branding-text {
		text-align: center;

		.site-title {
			display: block;
			margin-bottom: 1rem;
		}

		.site-title a,
		.site-description {
			background: rgba(0,0,0,0.8);
			color: $color_white;
			display: inline-block;
			opacity: 1;
			padding: 0.2rem 1rem;
		}
	}
}

body:not(.title-tagline-hidden) .site-header .site-branding-text {
	display: block;
}

